.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    
}

.destaque {
    grid-area: destaque;
    background-image: url(../../images/products/card_imagem.jpg)

}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-image: url(../../images/products/roxo-verde-grid.jpg);
}

.model {
    grid-area: model;
    background-image: url(../../images/products/modelo-feminino.jpg);

}

.sneaker-color {
    grid-area: sneaker-color;
    background-image: url(../../images/products/moderno-grid.jpg);

}

.sneaker-white {
    grid-area: sneaker-white;
    background-image: url(../../images/products/preto-branco-grid.jpg);
}

.sneaker-silver {
    grid-area: sneaker-silver;
    background-image: url(../../images/products/futurista-grid.jpg);
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-areas:
        "destaque destaque sneaker-purple sneaker-purple"
        "destaque destaque model sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver";
    gap: 1.875rem;

}

.destaque-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}
.card-title{
     color: #ededed;
     font-size: 1.25rem;
font-weight: 400;
margin-bottom: 0.625rem;
}
.card-subtitle{
    color: #ededed;
    font-size: 1.5rem;
font-weight: 400;
margin-bottom: 1.25rem;
}

.cta-group{
    display: flex;
    gap: 0.625rem;
}

@media (max-width: 500px) {
    .category-card {
        width: 100%;
    }
    
}
@media (max-width: 768px) {
 .grid-section{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:

    "destaque destaque"
    "sneaker-white sneaker-white"
    "model sneaker-color"
    "model sneaker-silver"
    "sneaker-purple sneaker-purple";
    width: 100%;
    gap: 0.652rem;
 }
    .destaque{
        min-height: 500px;
    }
    .model{
        min-height: 370px;
    }
    .sneaker-white, .sneaker-purple{
        min-height: 190px;
    }

}